@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: rgb(97, 135, 110);
    --primary-color: rgb(234, 231, 177);
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px;
    font-family: var(--font-family);
}

.central{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.borderTop, .borderBottom{
    background-color: var(--primary-color);
    height: 2em;
    width: 100%;
    position: absolute;
}

.borderTop {
    top: 0;
}

.borderBottom{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

a{
    text-decoration: none;
    color: var(--bg-color);
    font-size: 1em;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

h1 {
    padding: 8px;
    font-size: 5em;
}

h3 {
    padding: 8px;
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    padding: 8px;
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.fa-rotate-right{
    display: none;
    margin: 0.5em;
    font-size: 3em;
}

.fa-rotate-right:hover{
    cursor: pointer;
    transition: transform 150ms ease-in-out;
    transform: scale(1.2);
}

@media (max-width: 500px) {
    h1{
        font-size: 3em;
    }
    h3 {
        font-size: 1.5em;
    }
    .mensagem {
        font-size: 1em;
        margin-top: 24px;
    }
}
